body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(54, 163, 74);
}

figcaption {
  text-align: center;
  font-size: small;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

div {
  float: left;
  width: 25%;
  background-color: aquamarine;
  text-align: center;
}